
h1 {
    text-align: center;
    letter-spacing: 3px;
    font-size: 2.5em;
    color: blue;
    font-weight: 500;
    
}


p {
    text-align: center;
    letter-spacing: 3px;
    font-size: 1em;
    color: orchid;
    font-weight: 500;
    
}

